.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore secrets like API keys
bfi_boxoffice/omdb_secret

# ignore cached files
bfi_boxoffice/cache/*.hash
bfi_boxoffice/cache/*.RData

# ignore all data files
bfi_boxoffice/data/*
# except scripts and docs
!bfi_boxoffice/data/*.R
!bfi_boxoffice/data/*.md